.Rproj.user
.Rhistory
.RData
paper-fig
paper*.pdf
paper*.log
paper*.tex
paper*.bbl
paper*.fff
paper*.lof
paper*.lot
paper*.ttt
presentation*.log
presentation*.nav
presentation*.pdf
presentation*.snm
presentation*.tex
presentation*.toc
paper.synctex.gz
paper.aux
